<!-- Services Section -->
<section id="expertise-areas">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Expertise areas</h2>
        <h3 class="section-subheading text-muted">

        </h3>

        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 22px; color: white">C<br>A</h3>
              </i>
            </span>
            <h4 class="service-heading">Creativity and Aesthetics</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack">
                <h3 style="margin: 22px; color: white">T<br>R</h3>
              </i>
            </span>
            <h4 class="service-heading">Technology and Realization</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 22px; color: white">U<br>S</h3>
              </i>
            </span>
            <h4 class="service-heading">User and Society</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 9px; color: white">M<br>D<br>C</h3>
              </i>
            </span>
            <h4 class="service-heading">Math, Data and Computing</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>


          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 22px; color: white">B<br>E</h3>
              </i>
            </span>
            <h4 class="service-heading">Business and Entrepreneurship</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>

          </div>

        </div>
      </div>

      <!-- <p class="large text-muted">

        <body>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </body>
      </p> -->

      <!-- {% for category in site.categories %} -->
        <!-- <h3>{{ category[0] }}</h3> -->
        <!-- <ul> -->
          <!-- {% for post in category[1] %} -->
          <!-- {% if post.business-entrepreneurship == true %} -->
            <!-- <li> -->
              <!-- <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">{{ post.title }}</a> -->
            <!-- </li> -->
            <!-- href="#portfolioModal{{ post.modal-id }}"
            href="{{ post.url }}" -->
          <!-- {% endif %} -->
          <!-- {% endfor %} -->
        <!-- </ul> -->
      <!-- {% endfor %} -->


      <!-- <div class="row">
      {% for post in site.posts %}
          <div class="col-md-4 col-sm-6 portfolio-item">
              <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
              </a>
              <div class="portfolio-caption">
                  <h4>{{ post.title }}</h4>
                  <p class="text-muted">{{ post.subtitle }}</p>
              </div>
          </div>
      {% endfor %}
      </div> -->
    </div>
  </div>
</section>
