<!-- Services Section -->
<section id="expertise-areas">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Expertise areas</h2>
        <h3 class="section-subheading text-muted">
          Creativity and Aesthetics (CA)
          <br>
          Technology and Realization (TR)
          <br>
          User and Society (US)
          <br>
          Math, Data and Computing (MDC)
          <br>
          Business and Entrepreneurship (BE)
          <br>
        </h3>

        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h1>CA</h1>
              </i>
            </span>
            <h4 class="service-heading">Creativity and Aesthetics</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack">
                <h1>TR</h1>
              </i>
            </span>
            <h4 class="service-heading">Technology and Realization</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h1>US</h1>
              </i>
            </span>
            <h4 class="service-heading">User and Society</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h1>MD<br>C</h1>
              </i>
            </span>
            <h4 class="service-heading">Math, Data and Computing</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>


          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h1>BE</h1>
              </i>
            </span>
            <h4 class="service-heading">Business and Entrepreneurship</h4>
            <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>

        </div>
      </div>

      <p class="large text-muted">

        <body>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </body>
      </p>
    </div>
  </div>
</section>
