<!-- Services Section -->
<section id="expertise-areas">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Expertise areas</h2>
        <h3 class="section-subheading text-muted">

        </h3>

        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 22px; color: white">C<br>A</h3>
              </i>
            </span>
            </div>
            <div class="col-md-8">

            <h4 class="service-heading">Creativity and Aesthetics</h4>
            <p class="text-muted">
              <!-- <q cite="Norman p.139">Understanding is what transforms complex systems into simple ones.</q>
              <q cite="Norman p.39">..without a relevant conceptual model, we lack guidance. And when that happens we complain: Why does this have to be so complicated?</q> -->
              <!-- <q cite="Norman p.40">What makes a device simple is whether the user had a good conceptual model of how it operates</q> Donald Norman (2011, p.40)
              <br><br>
              <q cite="">A carpenter uses a beautifull wooden plate for the rear of the furniture, eventhough nobody will see it. To sleep well the aesthetics must be totaly implemented</q> Steve Jobs <br>(Isaacson, 2011, p.169)
              <br><br> -->
              For me creativity is the ability to understand the root problem and to create a sollution which can be operated without complications.
              If the experience and funtionality of the designed system is integrated in all its parts, I would call it aestethics.
              (Norman, 2011; Isaacson, 2011)
            </p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack">
                <h3 style="margin: 22px; color: white">T<br>R</h3>
              </i>
            </span>
            <h4 class="service-heading">Technology and Realization</h4>
            <p class="text-muted">
              <!-- <q cite="">high levers of technical skill can be reached only by people with fixed objective standards of truth...
                I have to be willing to commit error in order to get them right.</q> Richard Sennett (p.159-160)
              <br><br>
              <q cite="">..that extend our given physical and mental capabilities.</q> Koert van Mensvoort (2013, p.13)
              <br><br> -->
              For me technology is an imaginary reality of a homo sapien to enlarge its capabilities (Harari, 2017).
              Realization is the craftmenship to create this reality in a way other homo sapiens believe in this imaginary reality in the spiritual, mental or physical dimensions.
              (Sennett, 2008; Mensvoort, 2013)
              <br><br>
            </p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row text-center">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 22px; color: white">U<br>S</h3>
              </i>
            </span>
            <h4 class="service-heading">User and Society</h4>
            <p class="text-muted">
              <!-- <q cite="">Never solve the problem the client has asked you to solve, they are usually responding to the symptoms</q> Donald Norman (2011, p.148). -->
              <!-- <br><br> -->
              For me this is about understanding individuals interacting with others and systems by observations and engagement.
              Finding the root problem in someones life and satisfy their needs, interests, rights and wishes eventhough they did not know themeselves (Max-neef, et all, 1992; Governance and Integrity, 2008, Norman, 2011).
            </p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 9px; color: white">M<br>D<br>C</h3>
              </i>
            </span>
            <h4 class="service-heading">Math, Data and Computing</h4>
            <p class="text-muted">
              <!-- <q cite="">implement data structures and algorithms into designed products and services using data processing and computing</q> (Eindhoven University of Technology, 2019) -->
              <!-- <br><br> -->
              For me this area is all about data collection, analysis, visualisation, representation and modeling towards a more in-depth and enriche understanding of the root problem and context of the design topic
              by analog sketching and modeling and digital computer coding data-handling and visualisation.
              (Eindhoven University of Technology, 2019)
              <br><br>
            </p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row text-center">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
              <i class="fa fa-stack ">
                <h3 style="margin: 22px; color: white">B<br>E</h3>
              </i>
            </span>
            <h4 class="service-heading">Business and Entrepreneurship</h4>
            <p class="text-muted">
              Economics in the transformation paradigm ask other principles like system thinking, network engagement and value sharing.
              These principles ask more responsible and social engaged behaviour from profesionals in both private and public organisations.
              For me this area is all about coalitions of collaborating organisations with different ethics, cultures and visions.
              The designer needs to navigate in an emerging ecosystem on different levels of society to create value for the involved people and organisations.
            </p>

          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4"></div>
          <div class="col-md-1"></div>
        </div>

        <div class="row text-center">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <br><br>
            <h4 class="service-heading">Projects classified by expertise areas:</h4>
            {% for category in site.categories %}
            <p class="large text-muted" style="margin-bottom:0 ;">{{ category[0] }}</p>
            <!-- <h4 class="text-muted">{{ category[0] }}</h4> -->
            <ul class="list-inline item-details">
              {% for post in category[1] %}
              <li>
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">{{ post.title }}</a>
              </li>
              {% endfor %}

            </ul><br>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-3"></div>

      </div>

      <!-- <p class="large text-muted">

        <body>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </body>
      </p> -->




      <!-- <div class="row">
      {% for post in site.posts %}
          <div class="col-md-4 col-sm-6 portfolio-item">
              <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
              </a>
              <div class="portfolio-caption">
                  <h4>{{ post.title }}</h4>
                  <p class="text-muted">{{ post.subtitle }}</p>
              </div>
          </div>
      {% endfor %}
      </div> -->
    </div>
  </div>
</section>
