<!-- Techniques Section -->
<section id="techniques">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Techniques</h2>
        <!-- <h3 class="section-subheading text-muted"> -->
        <p class="large text-muted">

          <body>
            <br><br>
            <q cite="The Craftsman">Techniques as a cultural issue rather than as a mindless procedure</q>
            <br><br>
            With the <a href="https://www.satis-action.nl" target="_blank">satis-action </a> method I orchestrate collaboration between organisations towards an enriched society.

            With others-eyes I guide professionals through their exploration of a problemcase towards an enriched dialogue with the involved others and a morally right decision.
            <br><br>
            I embrace complexity and use it to support the design of beautiful and understandable services and (organisational) systems in
            the context of wicked problems within public sector organisations.
            I support the translation of thoughts, ideas and concepts so users, providers, facilitators and producers become change, work on change and realise transformation (Hummels, Trotto, Lévy, Peeters, Alves Lino & Klooster, 2018).
            <br><br>
            These techniques are practiced through my startup <a href="https://www.devakmakerij.nl" target="_blank">De Vakmakerij</a> with workshops, case-support and training.
            <!-- Ther efor I want to inspire individuals and organisations through a design in the final master project so it brings meaning and value to people's life. -->
          </body>
        </p>
        <!-- </h3> -->
      </div>
    </div>
  </div>
</section>
