<!-- Intro Section -->
<section id="intro" class="bg-light-gray"> <!--class="bg-light-gray"> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Vision</h2>
        <p class="large text-muted">
          <body> The wellfare state of our modern society is impresive, we live in prosperity. But our way of living comes with a cost. We pollute our oceans, poles, rainforrest and air. Our commodities are created by people living in embarrising
            circumstances or even slavery. The individualisation in our society
            create exclusion of people. The cost of our modernisation becomes sensible at the bottum of the global society and is paid by other people and nature.
            <br><br>
            A multi-disciplinairy collaboriation can make a change from this dark side of modernisation to a more sustainable development (United Nations, 2007). A way to facilitate this transformation is described in the transformative practices
            (Hummels, Trotto, Lévy, Peeters, Alves Lino & Klooster, 2018). A society moving towards the transformation paradigm requires a fundamental shift in mindset, vocabulary and behaviour (Gardien, Djajadiningrat, Hummels & Brombacher,
            2014).
            <br><br>
            Governments and their organisations have to adapt to the continuity of society and ensure stability for the citizens.
            But transformation in public sector organisations is a complex process with paradoxes and morall dilemmas occur.
            Administrators in public organisations continualy search for the morally right decisions and actions.
            <br><br>
            Spiritual development and a meaningful life is a growing need of individuals.
            Organisations address or incorporate these kind of spiritual needs with the use of valuable and meaningful interaction between individuals and organisations
            within a colleborative ecosystem. Individuals, professionals and leaders faces a diversity of questions and challenges on morallity and development.
            <br><br>
            With their methods and tools designers and moral consultants can inspire and support decision making processes towards the morally right interventions in specific situations.
            Leaders can modernise a meaningfull ecosystem by learning the practices of designers and moral consultants.
            I search for the best of these worlds by combining design, leadership and personal coaching for individuals, professionals and organisations working on the transformation of society.
          </body>
        </p>
        <br><br>

        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Design</h4>
            <!-- <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p> -->
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Leadership</h4>
            <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-primary"></i>
              <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Morallity</h4>
            <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">
          <!-- Vakmensen maken het verschil. -->
        </p>
      </div>
    </div>
  </div>
</section>
