<!-- Intro Section -->

<br><br>

<div class="row text-center">
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x text-primary"></i>
      <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">Design</h4>
    <!-- <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p> -->
  </div>

  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x text-primary"></i>
      <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">Leadership</h4>
    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
  </div>

  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-square fa-stack-2x text-primary"></i>
      <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">Morallity</h4>
    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
  </div>

</div>
