<!-- Workshops -->
<section id="workshops">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshops</h2>
        <h3 class="section-subheading text-muted">During the masterstudy I moderated different workshops and exhibitions through which professionals created awareness on specific cases and experienced the designed concepts, techniques and tools.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/01.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <br>
                <h4>November 2018</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Moderator workshop with Satis-action on collaboration of Triple-Helix in specific case for TNO.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/04.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <br>
                <h4>September 2018</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Moderator & keynote speaker 'Bestuurdersattelier 2018 Veiligheidshuis'.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/06.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <br>
                <h4>Augustus 2018</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Moderator workshop 'Innovation in the Triple-Helix' at the Royal Netherlands Army.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/06.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <br>
                <h4>July 2018</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Moderator Satis-action on real life case at the Royal Netherlands Army.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/05.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <br>
                <h4>July 2018</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Moderator Satis-action on real life case at Veiligheidshuis.</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/03.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <br>
                <h4>December 2017</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Moderator workshop 'Value creation for social issues' together with <a href="http://www.academievoorbeeldvorming.nl/" target="_blank">Academie voor Beeldvorming.</a></p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/02.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <br>
                <h4>October 2017</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Workshop 'Experience the transformative practices' at the Designhuis Eindhoven.</p>
              </div>
            </div>
          </li>


          <!-- <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>The quest
                <br>goes
                <br>on!</h4>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
