<!DOCTYPE html>
<html>

{% include head.html %}


<body id="page-top" class="index">

  {% include header.html %}
  {% include vision.html %}
  {% include craftsmen.html %}

  {% include portfolio_grid.html %}
  {% include workshops.html %}
  {% include techniques.html %}
  {% comment %}  {% include tools.html %} {% endcomment %} 
  {% include expertise-areas.html %}
  {% include testimonials.html %}

  {% include references.html %}

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}

</body>

</html>
